$main-color: #999999;
$main-bg: #6699ff;
$main-bg-hover: #3b73e4;
$slider-color: #fff;

@mixin transition($duration){
	-webkit-transition: all $duration ease-in-out;
	-moz-transition: all $duration ease-in-out;
	-ms-transition: all $duration ease-in-out;
	-o-transition: all $duration ease-in-out;
	transition: all $duration ease-in-out;
}

@media screen and (max-width: 1249px){
	.slick-prev{
		left: 5px;
	}
	.slick-next{
		right: 5px;
	}
}
@media screen and (max-width: 882px){
	.main-slider-holder{
		padding: 22px 0 0;
		margin: 0 0 10px;
	}
	.slide-description{
		margin: 0 0 0 10%;
	}
	.slide-description-title{
		font-size: 31px;
		margin: 2px 0 3px;
		height: 36px;
	}
	.slide-description-text{
		p{
			font-size: 22px;
			line-height: 35px;
			letter-spacing: 0.2px;
		}
	}
	.main-slider-holder{
		.img-holder{
			width: 28%;
			margin: 0 0 0 37px;
		}
	}
	.slide-description-btn{
		margin: 0;
		font-size: 31px;
		span{
			line-height: 53px;
			margin: 0 12px 0 3px;
		    vertical-align: middle;
		    font-size: 32px;
		}
	}
	.triangle-border{
		display: none;
	}
	.main-slider-holder{
		.img-holder{
			img{
				max-height: 223px;
			}
		}
	}
	.main-items-holder{
		display: block;
	}
	.main-item{
		max-width: none;
		padding: 30px 45px 20px;
		border-bottom: 1px solid #ccc;
		text-align: left;
		.ico-holder{
			width: 136px;
			height: 136px;
			span{
				font-size: 79px;
			}
		}
		.ico-holder.red{
			span{
				font-size: 60px;
			}
		}
		.ico-holder.yellow{
			span{
				font-size: 65px;
			}
		}
		.main-item-title{
			text-align: left;
			font-size: 35px;
			height: 41px;
			letter-spacing: -0.3px;
			margin: 0 0 3px;
		}
		.main-item-description{
			text-align: left;
		    width: auto;
		    font-size: 20px;
		    padding: 0 0 0 4px;
		    letter-spacing: -0.3px;
		    line-height: 23px;
		    max-height: 51px;
		}
	}
	.ico-holder-outer{
		display: inline-block;
		vertical-align: top;
		margin: 0 17px 0 0;
	}
	.main-item-text-holder{
		display: inline-block;
		vertical-align: top;
		padding: 23px 0 0;
		width: 68%;
	}
	.main-section {
	    margin: 0 0 46px;
	}
	.cart-block{
		.container {
		    padding: 0 75px;
		}
		.img-block{
			float: none;
		    width: 100%;
		    text-align: center;
		    
		}
		.img-holder{
			width: 215px;
			margin: 0 auto;
			img{
				max-height: 162px;
			}
	    }
	}
	.cart-block-title{
		margin: 0 0 42px;
	}
	.cart-block-description {
	    padding: 15px 0 0;
	    width: 100%;
	}
	.cart-block-description-title {
	    font-size: 34px;
	    height: 38px;
	}
	.cart-block-description-text {
	    font-size: 18px;
	    letter-spacing: -0.2px;
	}
	.cart-block {
	    margin: 0 0 39px;
	}
	.slide-description-text{
		max-height: 72px;
	}
}
@media screen and (min-width: 768px){
	.menu{
		ul{
			display: -webkit-box !important;
		    display: -moz-box !important;
		    display: -ms-flexbox !important;
		    display: -webkit-flex !important;
		    display: flex !important;
		}
	}
}
@media screen and (max-width: 767px){
	.header-holder {
	    padding: 23px 30px 14px 30px;
	    position: relative;
	}
	.logo-holder{
		width: 208px;
		height: 52px;
	}
	.menu{
		ul{
			display: none;
			position: absolute;
		    top: 100%;
		    left: 0;
		    width: 100%;
		    z-index: 1;
		    background: #fff;
		}
		li{
	    	margin: 0;
	    	text-align: center;
	    	a{
	    		display: block;
	    		padding: 15px 5px 15px;
	    		border-bottom: 3px solid $main-bg;
	    	}
	    }
	}
	.burger-btn{
	    display: block;
	    position: relative;
	    width: 58px;
    	height: 44px;
	    cursor: pointer;
	    border-radius: 2px;
	    margin: 4px 0 0;
	    background: $main-bg;
	}  
	.burger-btn span{		
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -3px;
	    margin-left: -18px;
	    display: inline-block;
	    width: 36px;
	    height: 6px;
	    background-color: #fff;
		@include transition(.2s);
	}
	.burger-btn span:before {
	    -webkit-transform: translateY(-175%);
	    transform: translateY(-175%);
	}
	.burger-btn span:before,
	.burger-btn span:after{
	    content: '';
	    position: absolute;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #fff;
	    @include transition(.2s);
	}
	.burger-btn span:after {
	    -webkit-transform: translateY(175%);
	    transform: translateY(175%);
	}
	  .burger-btn.active span {
	    background-color: transparent;
	}
	.burger-btn.active span:before{
	    -webkit-transform: translateY(0) rotate(45deg);
	    transform: translateY(0) rotate(45deg);
	}
	.burger-btn.active span:after{
	    -webkit-transform: translateY(0) rotate(-45deg);
	    transform: translateY(0) rotate(-45deg);
	}
}
@media screen and (max-width: 599px){
	.header-holder {
	    padding: 15px;
	}
	.logo-holder {
	    width: 155px;
	    height: 39px;
	}
	.burger-btn {
	    width: 50px;
	    height: 39px;
	    margin: 0;
	}
	.burger-btn span {
	    margin-top: -2px;
	    margin-left: -15px;
	    width: 30px;
	    height: 4px;
	}
	.slide-description-text{
		display: none;
	}
	.menu{
		li{
			a{
				border-bottom: 1px solid #6699ff;
			}
		}
	}
	.slide-description-title {
	    font-size: 21px;
	    margin: 0 0 15px;
	    height: 24px;
	}
	.slide-description-btn {
	    font-size: 15px;
	}
	.slide-description-btn{
		span {
		    line-height: 35px;
		    margin: 0 5px;
		    font-size: 20px;
		}
	}
	.main-slider-holder{
		.img-holder{
			img {
			    max-height: 115px;
			}
		}
	}
	.main-item{
		padding: 20px 15px;
	}
	.main-item{
		.ico-holder {
		    width: 100px;
		    height: 100px;
		    span{
		    	font-size: 55px;
		    }
		}
		.ico-holder.red{
			span{
				font-size: 45px;
			}
		}
		.ico-holder.yellow{
			span{
				font-size: 50px;
			}
		}
		.main-item-title {
		    font-size: 21px;
		    height: 45px;
		}
		.main-item-description {
		    font-size: 15px;
		    padding: 0;
		    line-height: 15px;
		    max-height: none;
		    height: 47px;
		}
	}
	.main-item-text-holder {
	    padding: 0;
	    width: 57%;
	}
	.ico-holder-outer {
	    margin: 0 10px 0 0;
	}
	.cart-block{
		.container {
		    padding: 0 15px;
		}
	}
	.cart-block-title{
		font-size: 30px;
		margin: 0 0 25px;
	}
	.cart-block-description-title {
	    font-size: 25px;
	    height: 28px;
	}
	.cart-block-description-text{
		font-size: 15px;
		line-height: 24px;
		max-height: 245px;
	}
}